# instant bento!
# ==============
# `include' bento.nginx in your server block :>
#
# just add:
#   - server_name
#	 - ssl_certificate
#	 - ssl_certificate_key
#   - root

default_type text/plain;
listen 443 ssl http2;
listen [::]:443 ssl http2;
add_header 'Cross-Origin-Opener-Policy' 'same-origin' always;
add_header 'Cross-Origin-Embedder-Policy' 'require-corp' always;
index index.html;
location /box {
	try_files $uri $uri/ $uri.html /index.html;
}
