# instant bento!
# ==============
# `include' bento.nginx in your server block :>
#
# just add:
#  - server_name
#  - ssl_certificate
#  - ssl_certificate_key
#  - root

default_type text/plain;
listen 443 quic;
listen [::]:443 quic;
http2 on;
http3 on;
http3_hq on;
quic_retry on;
ssl_early_data on;
add_header Alt-Svc 'h3=":$server_port"; ma=86400' always;
add_header 'Cross-Origin-Opener-Policy' 'same-origin' always;
add_header 'Cross-Origin-Embedder-Policy' 'require-corp' always;
index index.html;
error_page 404 /404;
expires 0;

# this could be expressed better by somebody smarter than me
location ~ ^/patterns/(?<name>[^/]+)$ {
	return 302 $scheme://$host/patterns/$name/;
}

location / {
	try_files $uri $uri/ $uri.html $uri/index.html /index.html =404;
}
