:host {
	position: relative;
}

#popout {
	display: none;
	position: absolute;
	top: 0;
	background: var(--grid-controls-fill);
	transform: translateX(-50%);
	left: 50%;
	border: 2px solid;
	box-shadow: 2px 2px 2px #0003;
}

bento-control-button {
	border-left: 0;
}

:host([open]) #popout {
	display: flex;
}
