:host {
	position: relative;
	height: var(--control-size);
	width: var(--control-size);
}

:host([open]) {
	border: 0px solid;
}

#popout {
	display: none;
	position: absolute;
	top: calc(var(--control-size) - 2px);
	left: calc(var(--control-size) - 1px);
	background: var(--grid-controls-fill);
	transform: translateX(-50%);
	left: 50%;
	border: 1px solid;
	box-shadow: 2px 2px 2px #0003;
	z-index: 1;
}

bento-control-button {
	/* border-left: 0; */
}

:host([open]) #popout {
	display: flex;
}

:host(:focus) {
	outline: 1px solid var(--focus-outline) !important;
	outline-offset: 0 !important;
}

:host([open]:focus) {
	outline: 0 !important;
}
