:host {
	display: flex;
}

* {
	touch-action: manipulation;
}

:focus {
	outline: 1px solid var(--focus-outline);
	outline-offset: 2px;
}

bento-control-popout {
	/* border: 1px solid; */
	margin-left: 2px;
}
