:host {
	--control-size: calc(var(--box-size) / 2);
}

* {
	touch-action: manipulation;
}

:focus {
	outline: 1px solid var(--focus-outline);
	outline-offset: 2px;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;

	text-align: center;
	align-items: center;
	width: var(--total-width);
	--grid-controls-fill: var(--machine-fill);
	--grid-controls-line: var(--machine-line);
	background: var(--grid-controls-fill);
	color: var(--grid-controls-line);
	appearance: none;
	padding: 0;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: repeat(8, var(--control-size));
	gap: calc(0.25em - 2px);
	padding-left: calc(0.25em + 2px);
	margin-top: var(--box-gap);
}

legend {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

bento-control-popout {
	/* border: 1px solid; */
}
