:host {
	/* border-top: 1px solid var(--machine-line); */
	display: block;
	/* background: var(--prominent-fill); */
	box-sizing: border-box;
	--grid-selector-box-size: calc(var(--box-size) / 2);
}

:host div {
	display: grid;
	grid-template-columns: repeat(8, var(--grid-selector-box-size));
	padding-bottom: 0.3em;
	padding-top: 0.25em;
	gap: calc(0.25em - 2px);
	margin-left: calc(0.25em + 2px);
}
