* {
	touch-action: manipulation;
}
:host {
	background: var(--layer-selector-fill);
	color: var(--master-controls-line);

	margin: 0;
	padding: 0;
	--dimmed-line: color-mix(
		in srgb,
		var(--master-controls-line) 50%,
		var(--master-controls-fill)
	);
	font-size: 0.8em;
}

:focus {
	outline: 1px solid var(--focus-outline);
	outline-offset: 2px;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	text-align: center;
	align-items: center;
	width: var(--total-width);
}

legend {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
