:host {
	--minigrid-fill: var(--grid-fill);
	--dot-on-fill: var(--box-on-fill);
	--dot-off-fill: var(--minigrid-fill);
	--selected-minigrid-outline: var(--selected-box-outline);
	--minigrid-play-icon: var(--machine-line);
	--minigrid-on-line: var(--machine-line);
	--minigrid-off-line: color-mix(
		in srgb,
		var(--minigrid-on-line) 20%,
		var(--minigrid-fill)
	);
	position: relative;
	box-sizing: border-box;
	background: var(--minigrid-fill);
	cursor: pointer;
	appearance: none;
	height: var(--grid-selector-box-size);
	width: var(--grid-selector-box-size);
	justify-content: center;
	align-items: center;
	color: var(--machine-fill);
	border: 1px solid var(--minigrid-off-line);
	display: grid;
	padding: 1px;
	grid-template-columns: repeat(4, 1fr);
	height: var(--grid-selector-box-size);
	width: var(--grid-selector-box-size);
	--dot-size: calc((var(--grid-selector-box-size) / 4) - 4px);
	--dot-gap: 2px;
	row-gap: var(--dot-gap);
	column-gap: var(--dot-gap);
	padding: 2px;
}

:host([drop-target]) {
	outline: 4px solid var(--drop-target-outline);
	border: 2px solid var(--drop-target-outline);
	outline-offset: 2px;
}

:host([on]) {
	border: 1px solid var(--minigrid-on-line);
}

:host([selected]) {
	outline: 1px solid var(--selected-minigrid-outline);
	outline-offset: 2px;
}
:host([playing])::after {
	content: "";
	width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid var(--minigrid-play-icon);
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translate(-50%);
}

bento-dot {
	margin-top: var(--dot-size);
	width: var(--dot-size);
	height: var(--dot-size);
	margin: 0;
	border-radius: 50%;
	background: transparent;
	position: relative;
	box-sizing: border-box;
	background: var(--dot-off-fill);
}

:host([on]) bento-dot {
	--dot-playing-dot: var(--dot-on-fill);
}

bento-dot[on] {
	background: color-mix(in srgb, var(--dot-on-fill) 20%, var(--dot-off-fill));
}

:host([on]) bento-dot[on] {
	background: var(--dot-on-fill);
	--dot-playing-dot: var(--dot-off-fill);
}

bento-dot:after {
	content: "";
	height: 2px;
	width: 2px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 100%;
	background: var(--dot-playing-dot);
	opacity: 0;
}

bento-dot[playing]:after {
	opacity: 1;
}
