* {
	touch-action: manipulation;
}

:host {
	background: var(--screen-selector-fill);
}

div {
	display: flex;
	justify-content: end;
	color: var(--screen-selector-line);
	background: var(--screen-selector-fill);
	--control-fill: var(--screen-selector-fill);
	--control-line: var(--screen-selector-line);
}

bento-control-button {
	border: 1px solid;
	margin: 2px;
}
