* {
	touch-action: manipulation;
}

:host {
	background: var(--screen-fill);
	display: flex;
	--control-fill: var(--screen-fill);
	--control-line: var(--screen-line);
}

bento-control-button {
	border: 1px solid;
	margin: 2px;
}
