* {
	touch-action: manipulation;
}
:host {
	background: var(--screen-selector-fill);
}

div {
	display: flex;
	justify-content: center;
	color: var(--screen-selector-line);
	background: var(--screen-selector-fill);
	padding: 0.125em 0;
}

button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-sizing: content-box;
	background: var(--screen-selector-button-fill);
	color: var(--screen-selector-button-line);
	font-family: var(--font-family);
	font-size: 0.5em;
	text-align: center;
	line-height: 1em;
	cursor: pointer;
	width: 1em;
	height: 1em;
	border: 0;
	border: 1px solid;
	box-shadow: 0;
	border-radius: 0;
	padding: 0.5ch;
	margin: 1px;
}

button:not(:last-child) {
}

button:hover {
	box-shadow: 2px 2px 2px 0 var(--screen-selector-button-shadow-color);
	background: #ffffff11;
}

button[aria-checked] {
	background: var(--selected-screen-selector-button-fill);
	color: var(--selected-screen-selector-button-line);
}

button svg {
	height: 100%;
	width: 100%;
}

button svg * {
	stroke: var(--screen-line);
	fill: var(--screen-line);
}
