bento-party {
	/*=START-OF-PUBLIC-API*/
	/* =page= */
	--fill: white;
	--line: black;
	--font-family: monospace;
	--page-fill: var(--fill);
	--page-line: var(--line);
	--scrollbar-bg: var(--fill);
	--scrollbar-fg: var(--fill);
	--focus-outline: var(--page-line);
	--drop-target-outline: var(--focus-outline);

	/* =machine= */
	--machine-fill: var(--page-fill);
	--machine-line: var(--page-line);
	--machine-shadow-color: var(--page-fill);
	--prominent-fill: var(--machine-line);
	--prominent-line: var(--machine-fill);
	--recording-fill: var(--prominent-fill);
	--recording-line: var(--prominent-line);

	/* =controls= */
	--controls-fill: var(--machine-fill);
	--controls-line: var(--machine-line);
	--master-controls-fill: var(--controls-fill);
	--master-controls-line: var(--controls-line);
	--layer-selector-fill: var(--controls-fill);
	--layer-selector-line: var(--controls-line);
	--selected-layer-selector-fill: var(--prominent-fill);
	--selected-layer-selector-line: var(--prominent-line);
	--layer-options-fill: var(--selected-layer-selector-fill);
	--layer-options-line: var(--selected-layer-selector-line);

	/* =screen= */
	--screen-fill: var(--prominent-fill);
	--screen-line: var(--prominent-line);
	--region-fill: var(--machine-fill);
	--region-line: var(--machine-line);
	--drawing-region-fill: var(--region-fill);
	--drawing-region-line: var(--region-line);
	--screen-selector-fill: var(--screen-fill);
	--screen-selector-line: var(--screen-line);

	/* =grid= */
	--grid-fill: var(--machine-fill);
	--grid-line: var(--machine-line);

	/* =box= */
	--box-on-fill: var(--prominent-fill);
	--box-on-line: var(--prominent-line);
	--box-off-fill: var(--grid-fill);
	--box-off-line: var(--grid-line);
	--selected-box-outline: var(--focus-outline);
	/* :3d_glasses_emoji: */
	--box-fill-mix-pan-left: red;
	--box-fill-mix-pan-right: blue;
	--box-fill-mix-quiet: var(--box-off-fill);
	/* *END-OF-PUBLIC-API* */

	background: var(--page-fill);
}

/* =EXAMPLE-THEMES* */

bento-party[theme="cherries"] {
	--cherries-light: #ffe9ed;
	--cherries-dark: #cc3366;
	--holy-light: white;
	--holy-dark: black;
	--cherries-yellow: #ffd807;
	--2013-body-grey: #333;
	--orla-foster-2003-bermuda-cocktail-3: #3399ff;

	--font-family: qp, iosevka, monaco, monospace;
	--line: var(--cherries-dark);
	--page-fill: color-mix(
		in srgb,
		var(--cherries-light) 80%,
		var(--holy-light)
	);

	--machine-shadow-color: color-mix(
		in srgb,
		var(--cherries-light) 90%,
		var(--holy-dark)
	);
	--machine-fill: var(--cherries-light);
	--region-fill: var(--cherries-yellow);
	--region-line: var(--2013-body-grey);
	--drawing-region-fill: #00ff99ee;
	--focus-outline: var(--orla-foster-2003-bermuda-cocktail-3);
	--selected-box-outline: black;
}

[theme="night"] {
	--font-family: menlo;
	--fill: black;
	--line: #66c;
	--page-fill: #000;
	--machine-shadow-color: black;
	--machine-fill: black;
	--prominent-line: #aaf;
	--prominent-fill: #000;
	--screen-fill: black;
	--screen-line: #f4a;
	--box-on-fill: #113;
	--region-fill: #339;
	--region-line: #f4a;
}

[theme="dw"] {
	--font-family: courier;
	--dark: black;
	--holy: white;
	--grey: #595959;
	--m8: #00efff;
	--fill: var(--dark);
	--line: var(--grey);
	--machine-shadow-color: var(--fill);
	--prominent-line: var(--holy);
	--prominent-fill: var(--fill);
	--screen-fill: var(--fill);
	--screen-line: var(--m8);
	--box-on-fill: var(--fill);
	--box-on-line: var(--m8);
	--selected-box-outline: var(--m8);
	--region-fill: var(--m8);
	--region-line: var(--fill);
	--layer-options-fill: var(--fill);
}

[theme="dark"] {
	--line: #666;
	--fill: black;
}

/* =*= */

@font-face {
	font-family: qp;
	src: url("/fonts/iosevka-qp-regular.ttf") format("truetype");
	display: swap;
}

@font-face {
	font-family: qp;
	src: url("/fonts/iosevka-qp-light.ttf") format("truetype");
	font-weight: light;
	display: swap;
}

::selection {
	background: transparent;
}

html {
	font-size: 2.2em;
	line-height: 1.15;
}

[screenreader] {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

* {
	/* disable bouncing */
	overscroll-behavior: none;
	scrollbar-color: var(--scrollbar-bg) var(--scrollbar-fg);
}

body {
	/* remove margin from mosaic or whatever */
	margin: 0;
}

bento-party {
	--number-of-boxes: 4;
	--box-size: 2em;
	--box-gap: 0.25em;
	--total-width: calc(
		(var(--box-size) * var(--number-of-boxes)) +
			(var(--box-gap) * (var(--number-of-boxes) * 2))
	);
	font-family: var(--font-family);
	background: var(--page-fill);
	box-sizing: content-box;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* completely disable highlighting stuff everywhere */
.machine,
.machine * {
	--webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.machine {
	background: var(--machine-fill);
	color: var(--machine-line);
	border: 1px solid currentColor;
	margin: 0;
	width: var(--total-width);
	position: relative;
	box-shadow: 0px 0px 50px 0px var(--machine-shadow-color);
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.controls :focus {
	outline: 2px dashed var(--focus-outline);
	outline-offset: 5px;
}

.controls input,
.controls select,
.controls option,
.controls .master-controls {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	background: none;
	font-family: var(--font-family);
	font-size: 1em;
	color: currentColor;
	text-align: center;
}

.controls button,
.controls input[type="file"],
.controls input[type="button"] {
	cursor: pointer;
}

/* todo consider <bento-screen> */

/*
 * allow selecting a screen by screen.scrollTo(screen.clientWidth * index, 0)
 */
.screen {
	width: var(--total-width);
	overflow: hidden;
	display: flex;
	flex-direction: row;
	scroll-snap-type: x mandatory;
	background: var(--screen-fill);
	color: var(--screen-line);
	scrollbar-width: 0;
}

.screen.switching {
	/* overflow-x: scroll; */
}

.screen figure {
	width: var(--total-width);
	margin: 0;
	height: 4em;
	scroll-snap-align: center;
	background: var(--screen-fill);
	color: var(--screen-line);
}

.screen figure canvas {
	width: var(--total-width);
	height: 100%;
}

[drop-target] {
	outline: 4px solid var(--drop-target-outline);
	border: 2px solid var(--drop-target-outline);
	outline-offset: 2px;
}

figure.waveform canvas {
	/* this disabled scrolling so selecting a region doesn't move you around */
	touch-action: none;
}

.screen-selector fieldset {
	text-align: center;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	font-size: 0.5em;
}

.screen-selector label {
	text-align: center;
	border-bottom: 1px solid;
	cursor: pointer;
	font-weight: bold;
}

.screen-selector label.checked {
	background: var(--screen-selector-fill);
	color: var(--screen-selector-line);
}

.screen-selector label:not(:last-child) {
	border-right: 1px solid;
}

.screen-selector label input {
	position: absolute;
	width: 5px;
	height: 5px;
}

:not([chee]) [chee] {
	display: none;
}

@keyframes blink {
	50% {
		opacity: 0.5;
	}
}

[recording] .recorder {
	animation: blink 1s steps(5, start) infinite;
	cursor: unset;
}

@keyframes spinnygoweee {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}

.tape {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	flex-direction: column;
	max-width: 100%;
	align-items: center;
	justify-content: center;
	background: var(--recording-fill);
}

.tape svg {
	background: var(--recording-fill);
	color: var(--recording-line);
}

.tape svg * {
	fill: var(--recording-fill);
	stroke: var(--recording-line);
}

bento-party[recording] {
	min-height: 100vh;
	background: var(--recording-fill);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

[recording] .machine {
	box-shadow: none;
}

[recording] .tape {
	display: flex;
}

.tape .message {
	font-size: 0.8rem;
	color: var(--recording-line);
	padding: 1em;
	padding-top: 0;
	margin: 0;
	margin-top: -1em;
}

.tape .counter {
	font-size: 0.8rem;
	color: var(--recording-line);
	margin: 0;
}

@keyframes fadeaway {
	to {
		opacity: 0;
	}
}

.tape .counter span:last-child {
	animation: fadeaway infinite 1.75s alternate ease-in-out;
}

.tape .counter:empty:after {
	content: " ";
	display: block;

	height: 1.15em;
}

.tape .tape-guide,
.tape .reel {
	animation: infinite spinnygoweee linear;
	transform-origin: center;
	transform-box: fill-box;
	transform-origin: center;
}

.tape .take-up {
	animation-duration: 1.5s;
}

.tape .supply {
	animation-duration: 2.5s;
}

@keyframes wobble {
	from {
		transform: skew(-0.1deg, 0.05deg);
	}
	50% {
		transform: skew(0.1deg, -0.05deg);
	}
}
.tape .spool {
	animation: infinite wobble linear 1.2s;
}
