@font-face {
	font-family: qp;
	src: url("/iosevka-qp-regular.ttf");
	display: swap;
}

@font-face {
	font-family: qp;
	src: url("/iosevka-qp-light.ttf");
	font-weight: light;
	display: swap;
}

:root {
	--background: #ffe9ed;
	--line: #cc3366;
	--intense: #cc1336;
	--selection-background: "#ffee88";
	--active: #ff2a50;
	--black: #1e1316;
	--blue: #407acd;
	--cyan: #22a6cd;
	--green: #00aba5;
	--magenta: #6d1699;
	--red: #ed2b3c;
	--yellow: #e59101;
	--white: #b8768c;
	--bright-black: #543641;
	--bright-blue: #3388ff;
	--bright-cyan: #2ec2ff;
	--bright-green: #01b9a4;
	--bright-magenta: #af40cb;
	--bright-red: #ff275d;
	--bright-yellow: #c9af13;
	--bright-white: #e090ae;
	--columns: repeat(4, 1fr);
	--font-family: qp, iosevka, monaco, monospace;
	--pattern-name-style: lower-latin;
	background: var(--background);
	color: var(--line);
	font-family: var(--font-family);
	font-size: 2.2em;
	line-height: 1.15;
}

[screenreader] {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

* {
	overscroll-behavior: none;
	scrollbar-color: var(--line) var(--background);
	box-sizing: border-box;
}

body {
	margin: 0;
}

.bento {
	min-height: 95vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: var(--font-family);
}

h1 {
	text-align: center;
}

.ui {
	user-select: none;
	background: var(--background);
	border: 1px solid;
	touch-action: manipulation;
	margin: 0;
	contain: layout;
	display: flow-root;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.master-controls {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	align-items: center;
	background: var(--background);
	border-bottom: 1px solid;
}

.master-controls input {
	font-size: 1em;
	line-height: 1em;
}

input,
select,
option {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	background: none;
	font-family: var(--font-family);
	font-size: 1em;
	max-width: 3rem;
	color: currentColor;
	text-align: center;
}

input[type="button"] {
	cursor: pointer;
}

input[type="button"]:hover {
	color: var(--intense);
}

input[type="number"] {
	appearance: textfield;
}

.pattern-selector {
	display: flex;
	justify-content: space-evenly;
	background: var(--background);
	counter-reset: pattern;
}

.pattern-selector label::before {
	counter-increment: pattern;
	content: counters(pattern, "", var(--pattern-name-style));
}

.pattern-selector label {
	width: 100%;
	text-align: center;
	cursor: pointer;
}

/* until the :has selector is real */
.pattern-selector label.checked {
	background: var(--line);
	color: var(--background);
}

.pattern-selector label:has(:checked) {
	background: var(--line);
	color: var(--background);
}

/* to be clickable with voice */
.pattern-selector label input {
	height: 5px;
	width: 5px;
	position: absolute;
}

.pattern-controls {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	background: var(--line);
	color: var(--background);
}

.pattern-controls select {
	font-size: 0.7rem;
}

label.recorder.recording,
label:has([name="record"]:checked) {
	color: var(--bright-red);
}

label.recorder:focus,
label:has([name="record"]:focus) {
	outline: 2px solid cyan;
}

figure.waveform {
	background: var(--line);
	width: 100%;
	margin: 0;
}

figure.waveform canvas {
	/* touch-action: manipulation; */
	/* this should disable scrolling, but keep regions working */
	touch-action: none;
}

.screen-selector fieldset {
	display: grid;
	text-align: center;
	grid-template-columns: repeat(4, 1fr);
	font-size: 0.5em;
}

.screen-selector label {
	text-align: center;
	border-bottom: 1px solid;
	cursor: pointer;
	font-weight: bold;
}

.screen-selector label.checked {
	background: var(--line);
	color: var(--background);
}

.screen-selector label:not(:last-child) {
	border-right: 1px solid;
}

.screen-selector label input {
	position: absolute;
	width: 5px;
	height: 5px;
}

.pattern {
	text-align: center;
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: repeat(4, 1fr);
	background: var(--background);
	justify-items: center;
	gap: 0.25em;
	margin: 0.25em;
}

.step {
	height: 2em;
	width: 2em;
	border: 1px solid;
	contain: layout;
	background-size: 100% 100%;
}

.step[aria-selected="true"] {
	/* prettier-ignore */
	box-shadow:
		-2px -2px 0 0 var(--background),
		02px 02px 0 0 var(--background),
		-2px 02px 0 0 var(--background),
		02px -2px 0 0 var(--background),
		-3px -3px 0 0 var(--line),
		03px 03px 0 0 var(--line),
		-3px 03px 0 0 var(--line),
		03px -3px 0 0 var(--line),
		-4px -4px 0 0 var(--line),
		04px 04px 0 0 var(--line),
		-4px 04px 0 0 var(--line),
		04px -4px 0 0 var(--line);
	border-color: currentColor;
}

.step:checked {
	color: var(--background);
	background-color: var(--line);
	border-color: var(--line);
}

.step:not(:checked) {
	background-image: none !important;
}

.step:focus {
	outline: 2px solid white;
	outline-offset: 0;
}

body.chee .step:focus {
	outline: 2px solid lime;
}

.step.playing:after {
	content: " ";
	height: 15%;
	width: 15%;
	position: absolute;
	left: 50%;
	bottom: 1%;
	transform: translate(-50%, -0%);
	border-radius: 100%;
	background: currentColor;
}

.step[disabled] {
	border: none;
}
.step[data-gain="1"] {
	opacity: 0.9583333333333334;
}

.step[data-gain="2"] {
	opacity: 0.875;
}

.step[data-gain="3"] {
	opacity: 0.7916666666666666;
}

.step[data-gain="4"] {
	opacity: 0.7083333333333334;
}

.step[data-gain="5"] {
	opacity: 0.625;
}

.step[data-gain="6"] {
	opacity: 0.5416666666666666;
}

.step[data-gain="7"] {
	opacity: 0.4583333333333333;
}

.step[data-gain="8"] {
	opacity: 0.375;
}

.step[data-gain="9"] {
	opacity: 0.2916666666666667;
}

.step[data-gain="10"] {
	opacity: 0.20833333333333334;
}

.step[data-gain="11"] {
	opacity: 0.125;
}

.step[data-gain="12"] {
	opacity: 0.041666666666666664;
}

body:not([chee]) [chee] {
	display: none;
}
