@font-face {
	family: "this-font";
	src: "font.ttf";
}

:root {
	--background: #ffe9ed;
	--line: #cc3366;
	--intense: #cc1336;
	--selection-background:  "#ffee88";
	--active: #ff2a50;
	--black: #1e1316;
	 --blue: #407acd;
	 --cyan: #22a6cd;
	 --green: #00aba5;
	 --magenta: #6d1699;
	 --red: #ed2b3c;
	 --yellow: #e59101;
	 --white: #b8768c;
	 --bright-black: #543641;
	 --bright-blue: #3388ff;
	 --bright-cyan: #2ec2ff;
	 --bright-green: #01b9a4;
	 --bright-magenta: #af40cb;
	 --bright-red: #ff275d;
	 --bright-yellow: #c9af13;
	 --bright-white: #e090ae;
	 --columns: repeat(4, 1fr);
	background: var(--background);
	color: var(--line);
	font-family: this-font, iosevka, monospace;
	font-size: 2em;
}

body {
	display: flex;
	height: 100vh;
	overflow: hidden;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

po-ui {
	border: 1px solid;
	user-select: none;
}

po-master-controls {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	text-align: center;
	align-items: center;
}

po-control {
	font-size: 0.8em;
	line-height: 1.5em;
}

po-control, po-channel, po-step {
	cursor: pointer;
	touch-action: manipulation;
}

po-control[control-type="slide"] {
	cursor: row-resize;
}

po-channel-controls {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	text-align: center;
	background: var(--line);
	color: var(--background);
}

po-channels {
	text-align: center;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	border-bottom: 5px solid;
}

po-channel {
	cursor: pointer;
}

po-channel[selected] {
	background: var(--line);
	color: var(--background);
}

po-steps {
	text-align: center;
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: repeat(4, 1fr);
	gap: 0.5em;
	padding: 0.5em;
}

po-step {
	height: 1em;
	width: 1em;
	border: 1px solid;
	contain: layout;
}

po-step po-wave {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

po-step[selected] {
	box-shadow: -2px -2px 0 0 var(--background),
					02px 02px 0 0 var(--background),
					-2px 02px 0 0 var(--background),
					02px -2px 0 0 var(--background),
					-3px -3px 0 0 var(--line),
					03px 03px 0 0 var(--line),
					-3px 03px 0 0 var(--line),
					03px -3px 0 0 var(--line);
	border-color: var(--line);
}

po-step[on] {
	color: var(--background);
	background: var(--line);
}

po-step[playing]:after {
	content: "•";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -0.6em;
	color: currentColor:
}

po-step-controls {
	font-size: 0.5em;
	display: flex;
	justify-content: space-between;
	padding: 0 0.5em;
	display: none;
}
