
@font-face {
	family: "this-font";
	src: "font.ttf";
}

:root {
	--background: #ffe9ed;
	--line: #cc3366;
	--intense: #cc1336;
	--selection-background: "#ffee88";
	--active: #ff2a50;
	--black: #1e1316;
	--blue: #407acd;
	--cyan: #22a6cd;
	--green: #00aba5;
	--magenta: #6d1699;
	--red: #ed2b3c;
	--yellow: #e59101;
	--white: #b8768c;
	--bright-black: #543641;
	--bright-blue: #3388ff;
	--bright-cyan: #2ec2ff;
	--bright-green: #01b9a4;
	--bright-magenta: #af40cb;
	--bright-red: #ff275d;
	--bright-yellow: #c9af13;
	--bright-white: #e090ae;
	--columns: repeat(4, 1fr);
	--font-family: this-font, iosevka, monospace;
	background: var(--background);
	color: var(--line);
	font-family: var(--font-family);
	font-size: 2.2em;
}

body {
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	margin: 0;
}

po-ui {
	user-select: none;
	background: var(--background);
	border: 1px solid;
}

po-master-controls {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	align-items: center;
	background: var(--background);
	border-bottom: 1px solid;
}

po-control {
	font-size: 1em;
	line-height: 1em;
}

po-control input,
po-control button,
po-control select,
po-control option {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	background: none;
	font-family: var(--font-family);
	font-size: 1em;
	color: currentColor;
	text-align: center;
}

po-control button {
	cursor: pointer;
}

po-control input[type="number"] {
	appearance: textfield;
}

po-control,
po-channel,
po-step {
	cursor: pointer;
	touch-action: manipulation;
}

po-control[control-type="slide"] {
	cursor: row-resize;
}

po-channels {
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	background: var(--background);
}

po-channel {
	cursor: pointer;
	flex: 1;
}

po-channel[selected] {
	background: var(--line);
	color: var(--background);
}

po-channel-controls {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	background: var(--line);
	color: var(--background);
}

[recording] [name="record"] {
	color: var(--bright-red);
}

figure[name="waveform"] {
	background: var(--line);
	width: 100%;
	margin: 0;
}


figure[name="waveform"] canvas {
	touch-action: manipulation;
}

po-steps {
	text-align: center;
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: repeat(4, 1fr);
	background: var(--background);
	justify-items: center;
	gap: 0.25em;
	margin: 0.25em;
}

po-step {
	height: 2em;
	width: 2em;
	border: 1px solid;
	contain: layout;
}

po-step[selected] {
	box-shadow:
		-2px -2px 0 0 var(--background),
		02px 02px 0 0 var(--background),
		-2px 02px 0 0 var(--background),
		02px -2px 0 0 var(--background),
		-3px -3px 0 0 var(--line),
		03px 03px 0 0 var(--line),
		-3px 03px 0 0 var(--line),
		03px -3px 0 0 var(--line);
	border-color: var(--line);
}

po-step[on] {
	color: var(--background);
	background: var(--line);
}

po-step[playing]:after {
	content: " ";
	height: 15%;
	width: 15%;
	position: absolute;
	left: 50%;
	bottom: 1%;
	transform: translate(-50%, -0%);
	border-radius: 100%;
	background: currentColor;
}

po-step[disabled] {
	border: none;
}

po-step-controls {
	display: flex;
	justify-content: space-between;
}

body:not(.chee) [chee] {
	display: none;
}
