:host div {
	display: flex;
	width: var(--total-width);
	justify-content: space-evenly;
	margin-bottom: 0.25em;
	padding-top: 0.25em;
}

button {
	cursor: pointer;
	appearance: none;
	border: none;
	background: none;
	height: calc(var(--box-size) / 2);
	width: calc(var(--box-size) / 2);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--machine-fill);
	border: 1px dashed
		color-mix(in srgb, var(--machine-line) 20%, var(--machine-fill));
}

button:first-of-type {
	color: var(--machine-line);
	background: color-mix(in srgb, var(--machine-fill) 80%, white);
	border: 1px dashed
		color-mix(in srgb, var(--machine-line) 30%, var(--machine-fill));
}

button:first-of-type:after {
	content: "+";
}
